<a href="https://colab.research.google.com/github/mustang164/learning-Ai/blob/main/Ai_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
x= pd.read_csv("addresses.csv")
print(x)

                    John       Doe                 120 jefferson st.  \
0                   Jack  McGinnis                      220 hobo Av.
1          John "Da Man"    Repici                 120 Jefferson St.
2                Stephen     Tyler  7452 Terrace "At the Plaza" road
3                    NaN  Blankman                               NaN
4  Joan "the bone", Anne       Jet               9th, at Terrace plc

     Riverside   NJ   08075
0        Phila   PA    9119
1    Riverside   NJ    8075
2     SomeTown   SD   91234
3     SomeTown   SD     298
4  Desert City   CO     123

In [3]:
import pandas as pd
data= pd.read_csv("Salary_Data.csv")
print(data)

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [16]:
x=data.drop('Salary', axis=1)
y=data['Salary']
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LogisticRegression as lr
x_train,x_test,y_train,y_test=tts(x,y)
print(x_train)
print(y_train)

    YearsExperience
22              7.9
1               1.3
21              7.1
2               1.5
24              8.7
14              4.5
0               1.1
12              4.0
29             10.5
15              4.9
5               2.9
18              5.9
4               2.2
28             10.3
19              6.0
25              9.0
10              3.9
27              9.6
7               3.2
9               3.7
13              4.1
3               2.0
22    101302.0
1      46205.0
21     98273.0
2      37731.0
24    109431.0
14     61111.0
0      39343.0
12     56957.0
29    121872.0
15     67938.0
5      56642.0
18     81363.0
4      39891.0
28    122391.0
19     93940.0
25    105582.0
10     63218.0
27    112635.0
7      54445.0
9      57189.0
13     57081.0
3      43525.0
Name: Salary, dtype: float64

In [18]:
print("traing data")
model=lr(max_iter=1000)
print("Prediction of :",x_test)
model.fit(x_train,y_train)

y_pred=model.predict(x_test)
print(y_pred)

traing data
Prediction of :     YearsExperience
26              9.5
20              6.8
11              4.0
16              5.1
8               3.2
6               3.0
23              8.2
17              5.3
[121872.  98273.  63218.  67938.  56642.  39891. 105582.  81363.]